{
    "openai": "APIKEY",
    "sonarr": {
        "url": "URL",
        "api": "APIKEY",
        "authuser": "USER",
        "authpass": "PASS"
    },
    "radarr": {
        "url": "URL",
        "api": "APIKEY",
        "authuser": "USER",
        "authpass": "PASS"
    },
    "discord": "APIKEY"
} 
